<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <kalatorimax>
                <model>Alzymologist\KalatoriMax\Model\Kalatorimax</model>
                <active>1</active>
                <title>Dotpayment via Alzymologist</title>
            </kalatorimax>
        </payment>
    </default>
</config>
